# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

##### Using 'and' in if statements

##### Using both 'or' and 'and' in if statements

### String Manipulation

##### .lstrip()

In [ ]:
# str.lstrip()
# help(str.lstrip)

name = "   Austin"
name.lstrip()

name = "   Austin"
name.lstrip("A ")

'ustin'

##### .rstrip()

In [ ]:
name = "   Parri"

In [ ]:
name.rstrip("i r")

'   Pa'

##### .strip()

In [ ]:
name = "  Jesus  "

In [ ]:
name.strip()

'Jesus'

In [ ]:
word = "racercar"
word.strip("r at")

'cerc'

##### .title()

In [ ]:
my_string = "i P frEely"

In [ ]:
my_string = my_string.title()
print(my_string)

I P Freely

In [ ]:
my_string.upper()

'I P FREELY'

In [ ]:
my_string.lower()

'i p freely'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [ ]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

for name in names:
    print(name.title().strip())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [ ]:
my_list = [88,56,234,4,654,2,44,6]
min(my_list)

2

##### max()

In [ ]:
max(my_list)

654

##### sum()

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
sum(my_list)

1088

##### sorted()

In [ ]:
# built in Function in python works on any iterable
# return a copy of the array in sorted order ---- Out Of Place
print(sorted(my_list))
print(my_list)
my_list = sorted(my_list)
print(my_list)

print(sorted("zdatr",reverse=True))
# help(sorted)

[2, 4, 6, 44, 56, 88, 234, 654]
[2, 4, 6, 44, 56, 88, 234, 654]
[2, 4, 6, 44, 56, 88, 234, 654]
['z', 't', 'r', 'd', 'a']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [ ]:
# Sort is a method of the list class
help(list.sort)
my_list = [88,56,234,4,654,2,44,6]
print(my_list.sort())
print(my_list)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

None
[2, 4, 6, 44, 56, 88, 234, 654]

##### Copying a List

In [ ]:
# probably a bad idea
my_list1 = [1,2,3,4,5]

my_list2 = my_list1

my_list2.append(6)

print(my_list1)
print(my_list2)
print(id(my_list1))
print(id(my_list2))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
140352542115584
140352542115584

[2, 3, 4, 5]

In [ ]:
# How to copy a list correctly!!
my_list1 = [1,2,3,4,5]
my_list2 = my_list1[:]
my_list2.append(6)
print(my_list1)
print(my_list2)
print(id(my_list1))
print(id(my_list2))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
140352543978944
140352542145664

##### 'in' keyword

In [ ]:
5 in [2,3,7] # Note wil a list this is basically a for loop
5 in {2,3,5,7} # this is constant time operation

True

##### 'not in' keyword

In [ ]:
5 not in [2,3,7]

True

##### Checking an Empty List

In [ ]:
bool(1)

True

In [ ]:
my_list = []
if my_list == []:
    print("Its empty")
    
if len(my_list) == 0:
    print("Its empty")

if not my_list:
    print("Its empty")
    
if my_list: # Most common
    print("List is full")

Its empty
Its empty
Its empty

##### Removing Instances with a Loop

In [ ]:
names = ["Toan","Tim", "Steve","McCall","Anu","Steve"]

while "Steve" in names:
    names.remove("Steve")
    print(names)
print(f"list at the end of the loop: {names}")

['Toan', 'Tim', 'McCall', 'Anu', 'Steve']
['Toan', 'Tim', 'McCall', 'Anu']
list at the end of the loop: ['Toan', 'Tim', 'McCall', 'Anu']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [1]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# I need to create a new list to add items too

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)

print(new_names)

#another way to do it
list(set(names))

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

[2, 3, 4, 'connor', 'evan', 'kevin', 'bob', 'max']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [ ]:
nums = []
for i in range(100):
    nums.append(i)
print(nums)

nums_comp = [i for i in range(100)]
print(f"nums_comp \n{nums_comp}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
nums_comp
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
nums = []
for i in range(100):
    nums.append(i**2)
print(nums)

nums_comp = [i**2 for i in range(100)]
print(f"nums_comp \n{nums_comp}")

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]
nums_comp
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [ ]:
names = ["Mark","Eduardo", "C-tina", "Tate", "Pari"]
first_char_comp = [name[0] for name in names]
print(first_char_comp)

['M', 'E', 'C', 'T', 'P']

In [ ]:
# What if we need if statements????
four_l=[]
for name in names:
    if len(name)==4:
        four_l.append(name)
    else:
        four_l.append("Not 4")
print(four_l)

four_letter_names = [name for name in names if len(name)==4]
print(four_letter_names)

# ill add people whose length is not 5 into the last as "Not 5"
four_letter_names = [name if len(name)==4 else "Not 4" for name in names]
print(four_letter_names)

['Mark', 'Not 4', 'Not 4', 'Tate', 'Pari']
['Mark', 'Tate', 'Pari']
['Mark', 'Not 4', 'Not 4', 'Tate', 'Pari']

In [ ]:
la = [1,2,3,4,5]
lb = ["A","B","C","D"]

let_num=[]
for number in la:
    for letter in lb:
        let_num.append(f'{number}{letter}')
print(let_num)

['1A', '1B', '1C', '1D', '2A', '2B', '2C', '2D', '3A', '3B', '3C', '3D', '4A', '4B', '4C', '4D', '5A', '5B', '5C', '5D']

In [ ]:
let_num_comp = [f'{number}{letter}' for number in la for letter in lb]
let_num_comp

In [13]:
x = 7
f"hello world {x}"

'hello world {x}'

In [ ]:
sentence = ["Today","is","the","day","that's","gonna","bring","me","back","to","you"]

letters=[]
for word in sentence:
    for letter in word:
        letters.append(letter)
        
print(letters)

['T', 'o', 'd', 'a', 'y', 'i', 's', 't', 'h', 'e', 'd', 'a', 'y', 't', 'h', 'a', 't', "'", 's', 'g', 'o', 'n', 'n', 'a', 'b', 'r', 'i', 'n', 'g', 'm', 'e', 'b', 'a', 'c', 'k', 't', 'o', 'y', 'o', 'u']

In [ ]:
letters_comp = [letter.upper() for word in sentence for letter in word]
letters_comp

In [ ]:
# Ex.............

# given a list use a list comprehension to give me the 
# last letter of each word capitalized
my_list=["steve","susan","jake","troy"]
#output 
#["E", "N", "E", "Y"]

[name[-1].upper() for name in my_list]

['E', 'N', 'E', 'Y']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [ ]:
t = 1,2,3
print(t,type(t))
t_1 = (1,2,3)
print(t_1,type(t_1))

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>

In [ ]:
#empty tuples... basically useless
t_2 = tuple()
t_3 = ()

In [ ]:
my_tup = ("Tim", "David", "Mike")
my_tup[1]

'David'

In [ ]:
my_tup.index("Mike")

2

In [ ]:
my_tup[1]="Jones" ## NOOOOOO TUPLES ARE IMMUTABLE

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tup.append("Steve") #NOOOOO

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
new_tuple = my_tup + (5,6)
new_tuple

('Tim', 'David', 'Mike', 5, 6)

In [ ]:
list(enumerate(my_list))

[(0, 'steve'), (1, 'susan'), (2, 'jake'), (3, 'troy')]

##### sorted()

In [ ]:
sorted_tup = sorted(my_tup)

# Get a List
#convert it back to a tuple
sorted_tup = tuple(sorted_tup)
sorted_tup

('David', 'Mike', 'Tim')

##### Adding values to a Tuple

In [ ]:
#Reconstruct the tuple and add values
# Did this above

In [ ]:
new_tup = (1,2,3,["A","B","C"])
new_tup[3][1]="D"
new_tup

(1, 2, 3, ['A', 'D', 'C'])

## Functions

##### User-Defined vs. Built-In Functions

In [ ]:
# Built-in
# int(), min, max, type, print, help, dir, abs, sorted

#User defined Function

def say_hello():
    print("Hello World!")
    return None

print(say_hello())

Hello World!
None
Help on function say_hello in module __main__:

say_hello()

##### Accepting Parameters

In [ ]:
# Order matters
# A variable can be any type of object

def print_full_name(first_name, last_name):
    print(f"{first_name} {last_name}")
    
print_full_name("Beier", "Kevin")

Beier Kevin

##### Default Parameters

In [ ]:
def print_agent_name(first, last="Bond"):
    print(f"Your agent name is {last}, {first} {last}")

print_agent_name("Kevin")    
print_agent_name("Kevin", "Beier")

Your agent name is Bond, Kevin Bond
Your agent name is Beier, Kevin Beier

In [ ]:
print_agent_name(last="Beier", first="Kevin")

Your agent name is Beier, Kevin Beier

##### Making an Argument Optional

In [ ]:
def make_name(first, middle="", last="Ed"): #default args come last!
    print(f"Hello {first} {middle} {last}")

make_name("Kevin")
make_name("Kevin", "andrew")
make_name("Kevin", "andrew", "Beier")
make_name("Kevin",last="Beier")
# make_name(last="Beier","Kevin") #keyword args need to be last

Hello Kevin  Ed
Hello Kevin andrew Ed
Hello Kevin andrew Beier
Hello Kevin  Beier

In [ ]:
def what_datatype():
    return "jersey mikes"

print(
    what_datatype().title()+" is overpriced"
)
print("Thanks")

Jersey Mikes is overpriced
Thanks

In [ ]:
# Return Exits the function!
def return_stops():
    for i in range(10):
        print(i)
        if i == 3:
            return 4
return_stops()

0
1
2
3

4

In [ ]:
def dead_code(): # Unreachable Code
    print("Hello")
    return
    print("Goodbye") #<--- UNREACHABLE!!!!!

dead_code()

Hello

##### Keyword Arguments

In [ ]:
#see above

In [ ]:
# *args and **kwargs
def my_func(name, *args): 
    #*args needs to be at the end
    # of positional args but before keyword args
    print(name)
    for arg in args:
        print(arg)
        
my_func("Kevin",2,4,5,6,7,8)

Kevin
2
4
5
6
7
8

In [ ]:
def my_func(name,**kwargs):
    for key in kwargs:
        print(key, kwargs[key])
my_func("Kevin", height=72, weight=120.4, foods=["pizza","tacos","dimsum","sushi"])

height 72
weight 120.4
foods ['pizza', 'tacos', 'dimsum', 'sushi']

In [ ]:
my_dict = {"key":"value","name":"Kevin"}

def my_fun(key,name):
    print(key,name)

my_fun(**my_dict) # key="value", name="Kevin"

value Kevin

In [ ]:
#Function should return the sum of all the numbers given to it.. do not use a List
def my_sum(*args):
    return sum(args)
print(my_sum(1,2,3))

def my_sum(*args):
    total=0
    for number in args:
        total+=number
    return total

print(my_sum(1,2,3))

6
6

# Creating a start, stop, step function

In [ ]:
def my_range(stop, start=0, step=1):
    for i in range(start,stop,step):
        print(i)
# my_range(10)
# my_range(10,5)
my_range(10,4,2)

4
6
8

##### Returning Values

In [ ]:
def add_nums(num1, num2):
    return num1 + num2

print(
    type(add_nums("A","B"))
     )

<class 'str'>

##### *args

In [ ]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

## See above

##### Docstring

In [ ]:
def my_function(name, age):
    """
    takes in an name and age and returns a formatted string tells the names age
    [name] - string
    [age] - integer
    """
    return f"{name} is {age}"

help(my_function)

Help on function my_function in module __main__:

my_function(name, age)
    takes in an name and age and returns a formatted string tells the names age
    [name] - string
    [age] - integer

##### Using a User Function in a Loop

In [ ]:
def add_two(n):
    print(n+2)
    
while True:
    ask = int(input("What is your number? "))
    add_two(ask)
    response = input("ready to quit yet? [Type Quit] ")
    if response.lower()=="quit":
        break

What is your number? 2
4
ready to quit yet? no
What is your number? 8
10
ready to quit yet? quit

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
first = ['John', 'Evan', 'Jordan', 'Max']
last = ['Smith', 'Smith', 'Williams', 'Bell']
# Assume the lists are the same length

def add_names(first_names,last_names):
    full_names=[]
    for i in range(len(first_names)):
        full_names.append(first_names[i]+" "+last_names[i])
    return full_names

print(add_names(first,last))

# List comprehension
def add_names_comp(first_names,last_names):
    full_names = [first_names[i]+' '+last_names[i] for i in range(len(first_names))]
    return full_names
print(add_names_comp(first,last))

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
#placement of variable declaration matters
var1 = "A" # Global Scope -- can use everywhere

def my_function():
    print(var1)
    var2 = "B" #Functions scope aka a local scope
    print(var2)

my_function()
print(var2)

A
B

NameError: name 'var2' is not defined

In [ ]:
for i in range(3): #i here has global scope
    print(i)
    x = "Steve" # global Scope
    
i

0
1
2

2

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [7]:
my_list = [1,11,14,5,8,9]
def my_func(my_list):
    new_list = []
    for i in my_list:
        if i <10:
            new_list.append(i)
    return new_list

print(my_func(my_list))

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [11]:
list1 = [1,2,3,4,5,4,3]
list2 = [9,6,4,8,7,6]

def my_lists():
    new_list1 = list1 + list2
    new_list1.sort()
    return new_list1

print(my_lists())

[1, 2, 3, 3, 4, 4, 4, 5, 6, 6, 7, 8, 9]